@import '~bootstrap/scss/bootstrap';

body {
  background: black;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

p {
  color: #EBC500;
  font-family: news-gothic-std, sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 900;
  justify-content: center;
  // letter-spacing: 6px;
  line-height: 60%;
  text-align: justify;

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.bgi {
  animation: bgi 86s;
  animation-delay: 7s;
  opacity: 0;
  z-index: 0;
}

.end-paragraph {
  text-align: left;
}

.intro {
  align-items: center;
  animation: intro 4.5s ease-out .5s;
  bottom: 60%;
  color: rgb(51,128,123);
  font-family: trade-gothic-next, sans-serif;
  font-size: 500%;
  font-style: normal;
  font-weight: 400;
  left: 45vw;
  opacity: 0;
  position: fixed;
  text-shadow: 0 0 30px rgba(51, 128, 123, 0.5);
  top: 40vh;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.logo {
  align-items: center;
  height: 100vw;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.img {
  align-items: center;
  animation: img 11s ease-out 2s;
  animation-delay: 7s;
  height: 100vw;
  justify-content: center;
  opacity: 0;
  position: relative;
  transform: translate(-50%, -50%);
  width: 100vw;
}

.scroll {
  animation: scroll 100s linear 16s;
  justify-content: center;
  position: absolute;
  top: 100%;
  width: 100%;
}

#subtitle,
#title {
  text-align: center;
}

.tilt {
  bottom: 0;
  font-size: 800%;
  height: 50em;
  left: 50%;
  margin-left: -9em;
  overflow: hidden;
  position: absolute;
  text-align: justify;
  transform: perspective(300px) rotateX(20deg);
  transform-origin: 50% 100%;
  width: 18em;

  &::after {
    bottom: 60%;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bgi {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes img {
  0% {
    height: 100vh;
    left: 45%;
    margin: 0 auto;
    opacity: 0;
    top: 35%;
    transform: scale(2.75);
    width: 100vw;
  }

  1% {
    height: 100vh;
    left: 45%;
    margin: 0 auto;
    opacity: 1;
    top: 35%;
    transform: scale(2.75);
    width: 100vw;
  }

  50% {
    height: 22.5vh;
    left: 45%;
    margin: 0 auto;
    opacity: 1;
    top: 23%;
    width: 22.5vw;
  }

  100% {
    height: 10vh;
    left: 45%;
    margin: 0 auto;
    opacity: 0;
    top: 23%;
    transform: scale(.3);
    width: 10vw;
  }
}

@keyframes scroll {
  0% {
    top: 100%;
  }

  100% {
    top: -170%;
  }
}
